<!DOCTYPE html>
<html lang="en">
<head>
	<title>Weather! Where! Wear!</title>
    <script>
    function description()
    {
       w=open('','','width=800, height=600');
       w.document.write('<title>도움말</title>');
       w.document.write('안녕하세요 기온과 지역에 기반한 의복 추천 웹 사이트 Weather! Where! Wear입니다.');
    }
    </script>
</head>

	<h3 style="text-align: center;">Weather! Where! Wear!&nbsp&nbsp&nbsp&nbsp&nbsp<button onclick="description()">?</button></h3>
    <h6 style="text-align: center;">오늘 날씨에 어디서 어떤 옷을 입을까?</h6>


    <center>
    <div style="border: 3px dashed black; width:450px; height: 120px; text-align: center;">
        <form method="POST" action= '/result'><br>
        Location: <input type="text" name="location" value="Seoul"  style="width:80px;height:20px">
        <input type="submit" value="Submit"><br><br>
        </form>
        <form method="POST" action= '/userpage'>
        <input type="submit" name="bbtn" value="사용자 정보 공유">
        </form>
    </div>
    </center>
</body>
</html>