<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용자간 정보 공유 페이지</title>
</head>
<body>
    <h1 style="text-align: left;">사용자간 정보 공유 페이지</h1>
    <h3 style="text-align: left;">데이터 입력 폼</h3>
    <div style="border: 3px solid black; width:280px; height: 120px; text-align: right;">
    지역 이름: <input type="text" name="tb_"><br>
    아우터: <input type="text" name="o_"><br>
    상의: <input type="text" name="t_"><br>
    하의: <input type="text" name="b_"><br>
    기타: <input type="text" name="e_"><br>
    </div>
    <input type="submit" value="Upload" onclick="alert('데이터가 입력이 확인되었습니다.')">
   <button type="button" onclick="location.href='/'">Back</button>
</body>
</html>