<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>사용자간 정보 공유 페이지</title>
</head>
<body>
    <h1 style="text-align: left;">사용자간 정보 공유 페이지</h1>
    <form method="POST" action= '/DataAddition'>
        <br><input type="submit" name="ddata" value="자신의 데이터 공유하기">
    </form>
    <form method="POST" action= '/userpage_result'><br>
        <p style="color:blue;"><B>[사용자기반 공유 데이터 검색]</B></p>
        지역 이름: <input type="text" name="location" style="width:80px;height:20px">
        세부 지역: <input type="text" name="location2" style="width:80px;height:20px">
        <input type="submit" name="searchlist" value="Submit"><br><br>
    </form>
   <br><button type="button" onclick="location.href='/'">Home</button>
</body>
</html>